expose:
  ingress:
    hosts:
      core: core.harbor.K8S_DOMAIN
      notary: notary.harbor.K8S_DOMAIN

externalURL: https://core.harbor.K8S_DOMAIN

harborAdminPassword: "Harbor12345"
database:
  internal:
    password: "Harbor12345"

metrics:
  enabled: true
